@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

/* menu de hamburguesa */

:root {
  --red: #ff0000;
  --black: #354046;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* barra de scroll */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 20px;
  border: 3px solid var(--red);
}

/* barra de scroll */

section {
  padding: 5rem 10%;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--red);
  transition: transform 0.3s ease;
  /* de arriba */
  /* transform: translate(0, -100%); */
  transform: translate(100%);
}

.panel.is-active {
  transform: translate(0, 0);
}
div .panels-btn {
  position: fixed;
  z-index: 999;
  top: 1vh;
  left: 1vh;
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.menu {
  margin-top: 20rem;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--black);
  background-color: #fff;
}

/* seccion de pie de pagina */

.footer {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 1rem;
}

.footer img {
  width: 30rem;
}

.footer .col-md-4 {
  padding: 5rem;
}

.footer .col-md-4:nth-child(1) a {
  font-size: 2rem;
  color: #fff;
}

.footer .col-md-4:nth-child(1) a:hover {
  color: var(--black);
}

.footer .col-md-4:nth-child(1) a span {
  color: var(--red);
}

.footer a {
  font-size: 2rem;
  color: #fff;
  display: block;
}

.footer h3 {
  color: #fff;
  font-size: 3rem;
}

.footer a:hover {
  color: var(--red);
}

.footer .credit {
  color: #fff;
  width: 80%;
  margin: 0;
  padding: 2rem 0;
  padding-bottom: 4rem;
  border-top: 0.1rem solid #ccc !important;
}

.footer .credit span {
  color: var(--red);
}

header .fa-times {
  transform: rotate(180deg);
}

.heading-link {
  text-align: center;
  background: #c31432;
  background: -webkit-linear-gradient(to left, #240b36, #c31432);
  background: linear-gradient(to left, #240b36, #c31432);
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fff;
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #fff;
}

.heading-link p a {
  color: #eee;
}

.heading-link p a:hover {
  color: #354046;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

/*  */

.main-dance {
  margin: 20rem 0;
  padding: 3rem 7%;
}
.dance-headings {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.dance-headings h1 {
  color: #354046;
  font-size: 40px;
  padding: 0.5rem 0;
}
.dance-headings p {
  color: #354046;
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.mian-dance-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.inner-dance {
  flex: 1 1 300px;
}
.inner-dance img {
  width: 100%;
}
.inner-dance img:hover {
  transform: translateY(-20px);
}
.dance-content {
  width: 100%;
  padding: 2rem;
  background: #354046;
}
.dance-content h2 {
  color: #eee;
  font-size: 2rem;
  padding: 0.5rem 0;
}
.dance-content p {
  color: #eee;
  font-size: 1.5rem;
}
.main-pricing-container {
  margin: 20rem 0;
  padding: 4rem 7%;
}

.main-pricing-container h1 {
  color: #354046;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.main-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.inner-price {
  flex: 1 1 300px;
  background: #354046;
  padding: 4rem 1rem;
  text-align: center;
}

.price-content h2 {
  color: #eee;
  font-size: 30px;
}
.price-content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  margin-bottom: 15px;
}
.inner-price a {
  padding: 1rem 3rem;
  background: #c31432;
  color: #eee;
  font-size: 1.5rem;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.inner-price a:hover {
  color: #354046;
  letter-spacing: 3px;
  border-radius: 15px;
}

/*  */

/* loader o cargando */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container h1 {
  font-size: 5rem;
  font-family: "Bungee", cursive;
}

.loader-container.fade-out {
  top: -120%;
}
